# 파이썬 딕셔너리(Dictionary) 객체를 판다스 시리즈(Series)로 변환

In [11]:
%pip install pandas

Requirement already satisfied: pandas in c:\python_src\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python_src\.venv\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python_src\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python_src\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python_src\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\python_src\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# pandas 불러오기 (pyarrow 설치 권장)
import pandas as pd
# pandas란? : 엑셀을 파이썬을 통해 좀 더 강력하게 다룰 수 있는 도구. 재현성, 활용성 높음 (많은 양의 데이터를 다루기 용함)

In [13]:
# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a': 1, 'b': 2, 'c': 3}

In [14]:
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장
sr = pd.Series(dict_data)
# series : 한 열(column; 세로줄 값)로 이루어진 1차원 데이터

In [16]:
type(sr)

pandas.core.series.Series

In [17]:
# 변수 sr의 자료형 출력
print(type(sr))

<class 'pandas.core.series.Series'>

In [18]:
# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

a    1
b    2
c    3
dtype: int64

In [19]:
# 주피터 환경에서 변수 출력
sr

a    1
b    2
c    3
dtype: int64

In [ ]:
list_1 = [1,2,3]
pd.Series(list_1, index = {10,2,3})  # index 안에 문자를 넣어도 값은 동일함
# -> "list_1의 값들을 index(행 기준 값)을 각각 10,2,3인 Series(한 줄 열값)으로 정리하겠다"

2     1
10    2
3     3
dtype: int64

In [26]:
dict_1 = {'a':1, 'b':2}   # 딕셔너리의 경우 값이 None이 나오니 주의
pd.Series(dict_1, index=[10,1])

10   NaN
1    NaN
dtype: float64

In [22]:
# 임의의 딕셔너리 데이터
# 임의의 리스트 데이터
# 각각 시리즈를 만들고 인덱스도 자유롭게 설정
list_1 = [5,6,7,8]
dict_a = {'w' : 1, 'x' : 3, 'y' : 6, 'z' : 10}
pd.Series(list_1, index = ["호랑이", "사자", "고양이", "치타"])

호랑이    5
사자     6
고양이    7
치타     8
dtype: int64

In [ ]:
import random
scores = [random.randint(85,100) for i in range(10)]  # 85~100 이내 숫자 아무거나 10번 골라라
last_names = ['김', '이', '박', '최']
first_names = ['철수', '영희', '미애']
names = [random.choice(last_names) + random.choice(first_names) for i in range(10)] # 성과 이름을 임의로 매칭하여 10번 산출
scores, names
temp_dict = dict(list(zip(names,scores)))  #zip 파일로 두 변수 정의를 묶은 다음 -> 실행한 값을 list 형태로 뽑아서 딕셔너리 형태로 정리
pd.Series(temp_dict) # 딕셔너리로 정리한 값을 시리즈로 보여라 (이 때 (이름 = index, 점수 = value)
# dict -> Series    dict의 경우 중복값이 있을 시 중복값 중 가장 마지막 값을 출력함

김철수    99
김영희    90
이미애    93
최미애    90
이철수    85
이영희    99
박영희    88
dtype: int64

In [ ]:
import random
scores = [random.randint(85,100) for i in range(10)]
last_names = ['김', '이', '박', '최']
first_names = ['철수', '영희', '미애']
names = [random.choice(last_names) + random.choice(first_names) for i in range(10)]
scores, names
temp_dict = list(zip(names,scores))  # 튜플 형태로 할 시 딕셔너리 처리 필요없다 어차피 한 묶음으로 처리할 것이기 때문에
pd.Series(temp_dict)

0     (이영희, 85)
1     (이영희, 90)
2     (이미애, 94)
3     (최철수, 88)
4     (김철수, 98)
5    (김철수, 100)
6     (이철수, 86)
7     (최영희, 86)
8     (박미애, 93)
9     (이영희, 89)
dtype: object

In [25]:
import random
scores = [random.randint(85,100) for i in range(10)]
last_names = ['김', '이', '박', '최']
first_names = ['철수', '영희', '미애']
names = [random.choice(last_names) + random.choice(first_names) for i in range(10)]
scores, names
temp_dict = list(zip(names,scores))  # 튜플 형태로 할 시
s = pd.Series(temp_dict)
s.values  #값(점수)만 출력
# s.index  - Index만 출력

array([('박영희', 88), ('박미애', 96), ('박철수', 91), ('박영희', 100), ('이영희', 88),
       ('최영희', 95), ('이미애', 91), ('박철수', 89), ('김철수', 97), ('김철수', 89)],
      dtype=object)